@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap");

body {
  background-color: rgb(255, 255, 255);
}

.meu-logo {
  max-width: 4rem;
  max-height: 4rem;
  transition: max-width 0.25s ease-in-out, max-height 0.25s ease-in-out;
  filter: drop-shadow(0px 0px 2px #000000);
  -webkit-filter: drop-shadow(0px 0px 2px #000000);
  -moz-filter: drop-shadow(0px 0px 2px #000000);
}

.nav-scroll {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: rgb(30, 30, 30);
  transition: background-color 0.25s ease-in-out,
    padding-bottom 0.25s ease-in-out, padding-top 0.25s ease-in-out;
}
.nav-scroll .nav-link {
  font-size: 1.55rem !important;
  transition: font-size 0.25s ease-in-out;
}
.nav-scroll .meu-logo {
  max-width: 3rem;
  max-height: 3rem;
  transition: max-width 0.25s ease-in-out, max-height 0.25s ease-in-out;
}

button.navbar-toggler {
  padding: 0px !important;
}

button.navbar-toggler:focus {
  background-color: crimson;
}

a.nav-link {
  padding-left: 1rem !important;
  color: white !important;
  font-size: 1.65rem !important;
  font-family: "Rajdhani", sans-serif;
  font-style: normal;
  font-weight: 400;
}
a.nav-link:hover {
  color: crimson !important;
}

.lista-nav {
  margin-left: auto !important;
}
.slide {
  text-align: center;
  background-image: url("/src/assets/sl3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.conteudo-slide {
  padding-top: 12rem;
  padding-bottom: 6rem;
}

.tit-slide {
  color: white;
  font-size: 5rem;
  line-height: 5rem;
  margin-bottom: 2rem;
  font-family: "Rajdhani", sans-serif;
  font-style: normal;
  font-weight: 500;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}
.subt-slide {
  color: white;
  font-size: 3.25rem;
  line-height: 4rem;
  margin-bottom: 3.5rem;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}
.btn-slide {
  color: white;
  font-family: "Rajdhani", sans-serif;
  font-style: normal;
  font-weight: 600;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  margin-bottom: 2.5rem;
  background-color: rgb(240, 90, 90) !important;
  border-color: red !important;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}
.btn-slide:hover {
  background-color: crimson !important;
  border-color: red !important;
}
.btn-slide:focus {
  box-shadow: 0 0 0 0.25rem rgba(220, 20, 60, 0.5) !important;
}
#servicos {
  padding: 5rem 0rem;
}
.tit h1 {
  font-size: 3.25rem;
  font-family: "Rajdhani", sans-serif;
  font-style: normal;
  font-weight: 600;
}
.tit h2 {
  font-size: 1.75rem;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 300;
  padding: 0rem 0rem 3rem 0rem;
}
.serv img {
  max-width: 128px;
}
.serv img:hover {
  filter: brightness(105%) drop-shadow(0px 0px 2px #000000);
  -webkit-filter: brightness(105%) drop-shadow(0px 0px 2px #000000);
  -moz-filter: brightness(105%) drop-shadow(0px 0px 2px #000000);
  transition: filter 0.25s ease-in-out;
}
.serv h4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: "Rajdhani", "sans-serif";
  font-weight: 500;
  font-style: normal;
}
.serv p {
  color: rgb(115, 115, 115);
  font-family: "Ubuntu", "sans-serif";
  font-size: 1.15rem;
  font-weight: 400;
  font-style: normal;
}
.portfolio {
  background-color: rgb(247, 247, 247);
  padding: 5rem 0rem;
}
.port {
  max-width: 30rem;
  margin-left: auto;
  margin-right: auto;
}
.port:hover {
  filter: brightness(110%);
  -webkit-filter: brightness(110%);
  -moz-filter: brightness(110%);
  transform: scale(1.02, 1.02);
  transition: transform 0.25s ease-in-out;
}
.port .leg {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  text-align: center;
  background-color: white;
}
.port h4 {
  font-family: "Rajdhani", "sans-serif";
  font-weight: 500;
  font-style: normal;
}
.port p {
  color: rgb(115, 115, 115);
  font-family: "Ubuntu", "sans-serif";
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 0px;
}

.sobre {
  padding: 5rem 0rem;
}
.equipe {
  background-color: rgb(247, 247, 247);
  padding: 5rem 0rem;
}
.eq-member {
  padding-top: 1rem;
}
.eq-member .img-member {
  width: 15rem;
  height: 15rem;
  border: 0.5rem solid rgba(220, 20, 60, 0.25);
}
.eq-member .img-member:hover {
  border: 0.5rem solid rgba(220, 20, 60, 0.7);
  transition: border 0.25s ease-in-out;
}
.eq-member h4 {
  padding-top: 1rem;
  font-family: "Rajdhani", "sans-serif";
  font-weight: 500;
  font-style: normal;
}
.rede-social {
  height: 2.5rem;
  width: 2.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 100%;
}
.eq-leg {
  padding-top: 2.5rem;
}
.eq-leg p {
  color: rgb(115, 115, 115);
  font-family: "Ubuntu", "sans-serif";
  font-size: 1.15rem;
  font-weight: 400;
  font-style: normal;
}
.apoio {
  background-color: white;
  padding: 5rem 0rem;
}
.apoio .marca {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

@media (max-width: 767px) {
  a.nav-link {
    padding-left: 0.7rem !important;
    font-size: 1.55rem !important;
  }
  .container-sm {
    padding-right: 10px !important;
    padding-left: 10px !important;
  }
}
.marca img {
  margin-left: 10px;
  margin-right: 10px;
  width: 50%;
  filter: grayscale(1);
}

@media (max-width: 575px) {
  #meu-nav {
    background: rgb(30, 30, 30);
  }
  .container-sm {
    padding-right: 10px !important;
    padding-left: 10px !important;
  }
}
